body {
    font-size: 1rem;
    color: #fff;
  }

  hr {
    border-top: 1px solid rgba(255,255,255,.1);
    margin: 0;
  }
  
  form, .current, .hourly-forecast, .main-forecast, footer, .details {
    background: rgba(0, 0, 0, 0.6);
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  .background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:-1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
  }

  .container {
    max-width: 500px;
  }

  /*
 * CURRENT CONDITIONS
 */

.location {
    font-size: 2.5rem;
  }

  .visual {
    margin-right: 1rem;
  }

  .visual .temp {
    font-size: 4rem;
  }

  .visual .temp-scale {
    font-size: 1.5rem;
    margin-top: 15px;
  }

  .visual {
    float: none;
  }

  .current-details {
    float: none;
  }
  
  .real-feel::before {
    content: "RealFeel®: ";
  }
  
  .uv-index::before {
    content: "UV-index: ";
  }
  
  .air-quality::before {
    content: "Air quality: ";
  }

  /* 
 * HOURLY FORECAST
 */

.hourly-forecast {
    overflow: auto;
    white-space: nowrap;
  }
  
  .hourly-forecast div {
    display: inline-block;
  }

  /*
 * MAIN FORECAST
 */

.temp-high, .precip-day {
    font-weight: bold;
  }

 /*
 * DETAILS
 */
 
.humidity::before {
    display: block;
    font-family: weathericons;
    content: "\f07a";
    font-size: 30px;
  }
  
  .pressure::before {
    display: block;
    font-family: weathericons;
    content: "\f079";
    font-size: 30px;
  }
  
  .wind-speed::before {
    display: block;
    font-family: weathericons;
    content: "\f050";
    font-size: 30px;
  }
  
  .wind-direction::before {
    display: block;
    font-family: weathericons;
    content: "\f0b1";
    font-size: 30px;
  }
  
  .visibility::before {
    display: block;
    font-family: FontAwesome;
    content: "\f1e5";
    font-size: 30px;
  }
  
  .cloud-cover::before {
    display: block;
    font-family: weathericons;
    content: "\f013";
    font-size: 30px;
  }
  
  .sunrise::before {
    display: block;
    font-family: weathericons;
    content: "\f051";
    font-size: 30px;
  }
  
  .sunset::before {
    display: block;
    font-family: weathericons;
    content: "\f052";
    font-size: 30px;
  }
  
  .moonrise::before {
    display: block;
    font-family: weathericons;
    content: "\f0c9";
    font-size: 30px;
  }
  
  .moonset::before {
    display: block;
    font-family: weathericons;
    content: "\f0ca";
    font-size: 30px;
  }
  
  .moon-phase i {
    display: block;
    height: 45px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .beaufort::before {
    display: block;
    font-family: weathericons;
    content: "\f050";
    font-size: 30px;
  }
  
  /*
   * FOOTER
   */ 

   footer {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 12px;
  }
  
  .fa.fa-code {
    position: relative;
    top: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  
  .fa.fa-heart {
    position: relative;
    top: 1px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
  }
  
  .fa.fa-bolt {
    position: relative;
    top: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }
  
  @media (min-width: 440px) {
    .visual {
      float: left;
    }
  
    .current-details {
      float: right;
      margin-top: 1rem;
    }
  }